.cube-container {
  display: inline-block;
  overflow: visible;
  width: 125px;
  height: 125px;
}

.cube-canvas {
  width: 100px;
  height: 100px;
  margin: 20px 10px 10px 20px;
  position: relative;
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
      -ms-perspective: 1000px;
       -o-perspective: 1000px;
          perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
      -ms-transition: -ms-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

.cube figure {
  display: block;
  position: absolute;
  width: 98px;
  height: 98px;
  border: 1px solid #999999;
  line-height: 98px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;         
}

.cube figure img,
.cube figure audio,
.cube figure video,
.cube figure canvas,
.cube figure p {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.cube .front,
.cube .back,
.cube .right,
.cube .left,
.cube .top,
.cube .bottom { 
  background: hsla(   0, 0%, 85%, 0.7 ); 
}

.cube .front  {
  -webkit-transform: translateZ( 0px );
     -moz-transform: translateZ( 0px );
      -ms-transform: translateZ( 0px );
       -o-transform: translateZ( 0px );
          transform: translateZ( 0px );
}
.cube .back   {
  -webkit-transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 100px );
     -moz-transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 100px );
      -ms-transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 100px );
       -o-transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 100px );
          transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 100px );
}
.cube .bigback   {
  -webkit-transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 200px );
     -moz-transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 200px );
      -ms-transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 200px );
       -o-transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 200px );
          transform: rotateX( -180deg ) rotateZ( 180deg ) translateZ( 200px );
}

.cube .right {
  -webkit-transform: rotateY(   90deg ) translate3d( 50px, 0, 50px);
     -moz-transform: rotateY(   90deg ) translate3d( 50px, 0, 50px);
      -ms-transform: rotateY(   90deg ) translate3d( 50px, 0, 50px);
       -o-transform: rotateY(   90deg ) translate3d( 50px, 0, 50px);
          transform: rotateY(   90deg ) translate3d( 50px, 0, 50px);
}
.cube .bigright {
  -webkit-transform: rotateY(   90deg ) translate3d( 100px, 0, 100px);
     -moz-transform: rotateY(   90deg ) translate3d( 100px, 0, 100px);
      -ms-transform: rotateY(   90deg ) translate3d( 100px, 0, 100px);
       -o-transform: rotateY(   90deg ) translate3d( 100px, 0, 100px);
          transform: rotateY(   90deg ) translate3d( 100px, 0, 100px);
}

.cube .left {
  -webkit-transform: rotateY(  -90deg ) translate3d( -50px, 0, 50px);
     -moz-transform: rotateY(  -90deg ) translate3d( -50px, 0, 50px);
      -ms-transform: rotateY(  -90deg ) translate3d( -50px, 0, 50px);
       -o-transform: rotateY(  -90deg ) translate3d( -50px, 0, 50px);
          transform: rotateY(  -90deg ) translate3d( -50px, 0, 50px);
}
.cube .bigleft {
  -webkit-transform: rotateY(  -90deg ) translate3d( -100px, 0, 100px);
     -moz-transform: rotateY(  -90deg ) translate3d( -100px, 0, 100px);
      -ms-transform: rotateY(  -90deg ) translate3d( -100px, 0, 100px);
       -o-transform: rotateY(  -90deg ) translate3d( -100px, 0, 100px);
          transform: rotateY(  -90deg ) translate3d( -100px, 0, 100px);
}

.cube .top {
  -webkit-transform: rotateX(   90deg ) translate3d( 0, -50px, 50px);
     -moz-transform: rotateX(   90deg ) translate3d( 0, -50px, 50px);
      -ms-transform: rotateX(   90deg ) translate3d( 0, -50px, 50px);
       -o-transform: rotateX(   90deg ) translate3d( 0, -50px, 50px);
          transform: rotateX(   90deg ) translate3d( 0, -50px, 50px);
}
.cube .bigtop {
  -webkit-transform: rotateX(   90deg ) translate3d( 0, -100px, 100px);
     -moz-transform: rotateX(   90deg ) translate3d( 0, -100px, 100px);
      -ms-transform: rotateX(   90deg ) translate3d( 0, -100px, 100px);
       -o-transform: rotateX(   90deg ) translate3d( 0, -100px, 100px);
          transform: rotateX(   90deg ) translate3d( 0, -100px, 100px);
}

.cube .bottom {
  -webkit-transform: rotateX(  -90deg ) translate3d( 0, 50px, 50px);
     -moz-transform: rotateX(  -90deg ) translate3d( 0, 50px, 50px);
      -ms-transform: rotateX(  -90deg ) translate3d( 0, 50px, 50px);
       -o-transform: rotateX(  -90deg ) translate3d( 0, 50px, 50px);
          transform: rotateX(  -90deg ) translate3d( 0, 50px, 50px);
}
.cube .bigbottom {
  -webkit-transform: rotateX(  -90deg ) translate3d( 0, 100px, 100px);
     -moz-transform: rotateX(  -90deg ) translate3d( 0, 100px, 100px);
      -ms-transform: rotateX(  -90deg ) translate3d( 0, 100px, 100px);
       -o-transform: rotateX(  -90deg ) translate3d( 0, 100px, 100px);
          transform: rotateX(  -90deg ) translate3d( 0, 100px, 100px);
}

.cube .disabled { opacity: 1; }

.cube.show-front {
  -webkit-transform: translateZ( 0px );
     -moz-transform: translateZ( 0px );
      -ms-transform: translateZ( 0px );
       -o-transform: translateZ( 0px );
          transform: translateZ( 0px );
}

.cube.show-back {
  -webkit-transform: translateZ( -100px ) rotateX( 180deg ) rotateZ( -180deg );
     -moz-transform: translateZ( -100px ) rotateX( 180deg ) rotateZ( -180deg );
      -ms-transform: translateZ( -100px ) rotateX( 180deg ) rotateZ( -180deg );
       -o-transform: translateZ( -100px ) rotateX( 180deg ) rotateZ( -180deg );
          transform: translateZ( -100px ) rotateX( 180deg ) rotateZ( -180deg );
}

.cube.show-right {
  -webkit-transform: translateX( -50px ) translateZ( -50px ) rotateY(  -90deg );
     -moz-transform: translateX( -50px ) translateZ( -50px ) rotateY(  -90deg );
      -ms-transform: translateX( -50px ) translateZ( -50px ) rotateY(  -90deg );
       -o-transform: translateX( -50px ) translateZ( -50px ) rotateY(  -90deg );
          transform: translateX( -50px ) translateZ( -50px ) rotateY(  -90deg );
}

.cube.show-left {
  -webkit-transform: translateX( 50px ) translateZ( -50px ) rotateY(   90deg );
     -moz-transform: translateX( 50px ) translateZ( -50px ) rotateY(   90deg );
      -ms-transform: translateX( 50px ) translateZ( -50px ) rotateY(   90deg );
       -o-transform: translateX( 50px ) translateZ( -50px ) rotateY(   90deg );
          transform: translateX( 50px ) translateZ( -50px ) rotateY(   90deg );
}

.cube.show-top {
  -webkit-transform: translateY( 50px ) translateZ( -50px ) rotateX(  -90deg );
     -moz-transform: translateY( 50px ) translateZ( -50px ) rotateX(  -90deg );
      -ms-transform: translateY( 50px ) translateZ( -50px ) rotateX(  -90deg );
       -o-transform: translateY( 50px ) translateZ( -50px ) rotateX(  -90deg );
          transform: translateY( 50px ) translateZ( -50px ) rotateX(  -90deg );
}

.cube.show-bottom {
  -webkit-transform: translateY( -50px ) translateZ( -50px ) rotateX(   90deg );
     -moz-transform: translateY( -50px ) translateZ( -50px ) rotateX(   90deg );
      -ms-transform: translateY( -50px ) translateZ( -50px ) rotateX(   90deg );
       -o-transform: translateY( -50px ) translateZ( -50px ) rotateX(   90deg );
          transform: translateY( -50px ) translateZ( -50px ) rotateX(   90deg );
}

.cube-container nav {
  opacity: 0;
  display: none;
  position: relative;
  top: -142px;
  left: 0px;
  z-index: 0;
  
  overflow: visible;
  
  background: transparent;
  border: none;
  box-shadow: none; 
}

.cube-container nav button {
  display: none;
  position:absolute;
  border: 1px solid #999;
  background-color: hsla(   0, 0%, 100%, 0.7 );
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  padding: 1px; 
}

.cube-container nav button.btop {
  top: 0px;
  left: 20px;
  width: 100px;
  height: 20px;
}
.cube-container nav button.bright {
  top: 19px;
  left: 119px;
  width: 20px;
  height: 100px;
}
.cube-container nav button.bleft {
  top: 19px;
  left: 1px;
  width: 20px;
  height: 100px;
}
.cube-container nav button.bbottom {
  top: 118px;
  left: 20px;
  width: 100px;
  height: 20px;
}