ul.token-input-list-isearch {
    overflow: hidden; 
    cursor: text;
    z-index: 999;
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    padding: 0.2em;
    margin: auto;
    margin-bottom: 1em;
    width: 78%;
    padding-right: 11%;
    padding-left: 1%;
    margin: 1em auto;
    height: 3.2em;
    border: 1px #CCC solid;
    box-shadow: 0px 0px 2px 2px rgba(99,99,99,0.2); 
}

ul.token-input-list-isearch li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-isearch {
    overflow: hidden; 
    height: auto !important; 
    height: 15px;
    margin: 2px;
    padding: 3px 5px;
    background-color: #E0E0E0;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
    font-size: 1.2em;
}

li.token-input-token-isearch p {
    display: inline-block;
    padding: 0;
    height: 1.9em;
    line-height: 1.9em;
}

li.token-input-token-isearch span {
    color: #444;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}
li.token-input-token-isearch p img{
    vertical-align: middle;
    margin-top: -3px;
    max-height: 2.5em;
}
li.token-input-selected-token-isearch {
    background-color: #666;
    border: 1px solid #444;
    color: #fff;
}

li.token-input-input-token-isearch {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-isearch {
    position: absolute;
    width: 73%;
    max-width: 827px; /* max size of the query field */ 
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    z-index: 99;
}

div.token-input-dropdown-isearch p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-isearch ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-isearch ul li {
    background-color: #fff;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

div.token-input-dropdown-isearch ul li.token-input-dropdown-item-isearch {
    background-color: #fff;
}

div.token-input-dropdown-isearch ul li.token-input-dropdown-item2-isearch {
    background-color: #fff;
}

div.token-input-dropdown-isearch ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-isearch ul li.token-input-selected-dropdown-item-isearch {
    background-color: #444;
    color: #fff;
}
